numpy==1.24.3
pandas
scikit-learn
tensorflow
keras
Flask
gunicorn
requests
beautifulsoup4
bs4
yfinance
absl-py
amqp
astunparse
async-timeout
billiard
blinker
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
contourpy
cycler
datareader
flatbuffers
fonttools
frozendict
gast
google-pasta
grpcio
h5py
html5lib
idna
importlib_metadata
importlib_resources
itsdangerous
Jinja2
joblib
kiwisolver
kombu
libclang
lightgbm
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
multitasking
namex
opencv-python
opt_einsum
optree
packaging
pandas-datareader
peewee
pillow
platformdirs
prompt_toolkit
protobuf
Pygments
pyparsing
python-dateutil
pytz
redis
rich
scipy
six
slearn
soupsieve
tensorboard
tensorboard-data-server
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
typing_extensions
tzdata
urllib3
vine
wcwidth
webencodings
Werkzeug
wrapt
zipp
