* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


/*Navbar Section*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    /*z-index: 1001;   */
}


.navbar ul {
    display: flex;
    background-color: transparent;
    list-style: none;
    margin: 17px 0;
}

.navbar ul li {
    font-family: century;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;

}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff; /* Dark gray color for text */
    padding: 8px 25px;
    transition: all 0.5s ease;

}

.navbar ul li a:hover {
    color: rgb(86, 221, 104); /* Dark gray text on hover */
    box-shadow: 0 0 10px rgba(254, 255, 255, 0.3); /* Subtle shadow on hover */
    opacity: .59;
    transition: .5s;
    box-shadow: rgb(86, 221, 104);
}

#stock{
    display : flex;
    flex-direction : column;
    height: 780px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);   
    color: white;
}


td,
th {
    padding-right: 50px; /* Adjust the value as needed */

}

.main{
    text-align: justify;
    width: 1000px;
    padding-left: 70px;
    height: 100%;
    padding-top: 150px;
    letter-spacing: .1rem;
}

#news {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 780px;
    overflow: auto;
}

.main2 {
    display: flex;
    flex-direction: column; /* Display content in columns */
    text-align: justify;
    padding-left: 60px;
    padding-bottom: 70px;
    max-width: 100%; /* Ensure content doesn't exceed the width of the screen */
    color: white;
    width: 1000px;
    letter-spacing: .1rem;
}



/* mid page */
.dark-red{
    color: #880000;
}

.red{
    color: #FF0000;
}

.gray{
    color: #808080;
}

.green{
    color: #00FF00;
}

.dark-green{
    color: #006600;
}

#tickers-grid{
    display: flex;
    flex-direction: column;
    flex-grow: wrap;
    padding-left: 500px;
    padding-top: 70px;
    justify-content: center;
}


.stock-box{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 60px;
    border: 1px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 20px;
    color: white;
    justify-content: space-between; /* Add space between contents */

}

.stock-box h2 {
    color: white; /* Set h2 color to white */
}


.remove-btn {
    width: 5px;
    height: 2px;
    font-size: 1rem;
    padding-right: 10px;
    color: rgb(255, 255, 255);
    background-color: transparent;
}

.gray-flash{
    transition: background-color 1s;
    background-color: #ccc !important;
}

.red-flash{
    transition: background-color 1s;
    background-color: #ffcccc !important;
}

.green-flash{
    transition: background-color 1s;
    background-color: #ccffcc !important;
}

.midd{
    width: 100%;
    height: 743px;
    background-color: black;
    color: white;
}

.form{
    padding-left: 570px;
    padding-top: 37px;
}

.in{
    width: 400px;
    height: 40px;
}
.detail{
    color: white;
    background-color: transparent;
}

.third{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 650px;
    font-size: 1.1rem;
}

.pre{
    color: rgb(237, 237, 237);
    justify-content: center;
    padding-left: 600px;
    padding-top: 200px;
}

.pree{
    color: rgb(255, 39, 39);
    justify-content: center;
    padding-left: 400px;
    padding-top: 100px;
}

.image-container {
    text-align: center;
    background-color: black;
    padding-top:160px;
}
